.mainApp
{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80% 10% 10%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mainApp
  {
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(2, 50%);
  }
}

@media screen and (min-width: 1024px) {
  .mainApp
  {
    grid-template-columns: 15% 85%;
    grid-template-rows: 88% 12%;
  }
}