* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  --primary-color: #252525;
  --secondary-color: #505050;
  --spotify-color: #1DB954;
  --hover-color: #168d40;
}

body
{
  background-color: var(--primary-color);
}